.confirmDialogWrapper {
    display: block;
    position: fixed;
    left: 50%;
    top: 30%;
}

.confirmDialog {
    background-color: white;
    border: 2px solid black;
    width: 400px;
    z-index: 100;
    display: block;
    margin: auto;
    padding: 25px;
    position: relative;
    left: -50%;
    top: -50%;
}

.confirmDialog > h3 {
    margin: 0 0 10px;
}

.confirmDialogButtons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.confirmDialogButtons > .button {
    width: 0;
    flex-grow: 1;
}